body{
   /* background-image: url(https://f.hellowork.com/edito/sites/3/2022/09/lundi_habitudes-722x361.jpg?v=1664184268);*/
   background-color: rgb(10, 184, 236);
}
h3{
   color: rgb(4, 135, 223);
   font-size: 1.5rem;
   font-family: Georgia, 'Times New Roman', Times, serif;
}
h2{
   color: rgb(18, 80, 203);
   font-size: 2rem;
   font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
nav a{
   text-decoration: none;
   color: rgb(0, 0, 0);
   margin: 20px;
border-radius: 10px;
   border: 2px solid rgb(0, 0, 0);
   padding: 5px;
   background-color: rgb(250, 147, 4);
   font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}
.intro{
  background: rgb(10,137,219);
background: linear-gradient(90deg, rgba(10,137,219,1) 0%, rgba(9,43,121,1) 0%, rgba(0,212,255,1) 100%);
      font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    }
    .Lundi{
      background: rgb(10,137,219);
background: linear-gradient(90deg, rgba(10,137,219,1) 0%, rgba(9,43,121,1) 0%, rgba(0,212,255,1) 100%);
      font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
       
    }
    .Mardi{
      background: rgb(10,137,219);
background: linear-gradient(90deg, rgba(10,137,219,1) 0%, rgba(9,43,121,1) 0%, rgba(0,212,255,1) 100%);
      font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    }
    .Mercredi{
      background: rgb(10,137,219);
background: linear-gradient(90deg, rgba(10,137,219,1) 0%, rgba(9,43,121,1) 0%, rgba(0,212,255,1) 100%);
      font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
       }
       h2{
                
         font-size: 2rem;
         font-family: Verdana, Geneva, Tahoma, sans-serif;
     }
     h3{font-family: Verdana, Geneva, Tahoma, sans-serif;}